# .vs folder - Visual Studio privremeni podaci
.vs/

# build output i EF privremeni podaci
bin/
obj/

# Chroniclekeeper-client ignoriranja
/chroniclekeeper-client/logs
/chroniclekeeper-client/*.log
/chroniclekeeper-client/npm-debug.log*
/chroniclekeeper-client/yarn-debug.log*
/chroniclekeeper-client/yarn-error.log*
/chroniclekeeper-client/pnpm-debug.log*
/chroniclekeeper-client/lerna-debug.log*

/chroniclekeeper-client/node_modules
/chroniclekeeper-client/dist
/chroniclekeeper-client/dist-ssr
/chroniclekeeper-client/*.local

# Editor directories and files
/chroniclekeeper-client/.vscode/*
!/chroniclekeeper-client/.vscode/extensions.json
/chroniclekeeper-client/.idea
/chroniclekeeper-client/.DS_Store
/chroniclekeeper-client/*.suo
/chroniclekeeper-client/*.ntvs*
/chroniclekeeper-client/*.njsproj
/chroniclekeeper-client/*.sln
/chroniclekeeper-client/*.sw?